@charset "utf-8";
/* CSS Document */
body{font:62.5% 微软雅黑,宋体,Arial Narrow,HELVETICA;}
input,button,select,textarea{outline:none}
textarea{resize:none}
#footer{
	width: 960px;margin: 20px auto 0 auto; height:30px;line-height: 30px;border-top:1px dashed #ccc;font-size:1.2em;
}
#footer #icp{float: left;color:gray;}
#footer .fright{float: right;color:black;}